body {
    background-color: black;
}

td, th {
    border-bottom-color: #222;
    padding: .5rem 1.5rem;
}

.row.header H1 {
    color: #cbcccb;
    margin-top: 1rem;
    margin-bottom: auto;
}

img.logo {
    height: 3rem;
    position: relative;
    bottom: -2rem;
}

#refreshStatus {
    color: darkslateblue;
    margin-left: 1rem;
}

.asset-name {
    color: darkcyan;
}

.template-id-link, .collection-name-link {
    color: #606c76;
}

tr.updating td {
    opacity: 100%;
}

.buttons-right > button {
  float: right;
  margin-left: 1rem;
}

.hidden, .fas.hidden {
  display: none;
}

.lag-value {
    color: white;
}

.price-gap-value.higher {
    color: green;
}

.price-gap-value.lower {
    color: red;
}

.price-gap-value.lower, .price-gap-value.higher {
    cursor: help
}

.price-wax-value {
    color: orange;
}

.price-usd-value {
    color: white;
}

td[title] {
    cursor: help;
}

td .fas.fa-fire {
    color: orange;
}

.minute {
    color: rgb(50,50,50)
}

.hour {
    color: rgb(100,100,100)
}

.day {
    color: rgb(150,150,150)
}

tr td.asset-name i.hot, tr td.asset-name i.dead, tr td.asset-name i.down, tr td.asset-name i.up {
    display: none;
}

tr td.asset-name i.down {
    color: red;
}

tr td.asset-name i.up {
    color: green;
}

tr.hot {
    background-color: #05160ca6;
}

tr.dead td a, tr.dead td span {
    opacity: 50%;
}

tr.dead td.lag span {
    opacity: 100%;
}

tr td.asset-name i.dead {
    color: gray;
}

tr.hot td.asset-name i.hot, tr.dead td.asset-name i.dead, tr.up td.asset-name i.up, tr.down td.asset-name i.down {
    display: inline-block;
}

.text-right {
    text-align: right;
}

.fade-in {
  animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

tr .fa-rotate {
  visibility: hidden;
}

tr.updating .fa-rotate {
  visibility: visible;
  animation: rotate 3s ease infinite;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

tr td.asset-name i.hot {
  color: #ffa500;
}

#exchangeTable:not(.updating) tr.hot td.asset-name i.hot {
  animation: burn 5s ease-in-out infinite;
}

@keyframes burn {
  0% {
    color: #ffa500;
  }

  50% {
    color: #ff4d00;
  }

  100% {
    color: #ffa500;
  }
}
