body {
    background-color: black;
}

#main-table td, #main-table th {
    border-bottom-color: #121212;
    padding: .5rem 1.5rem;
}

.row.header H1 {
    color: #cbcccb;
    margin-top: 1rem;
    margin-bottom: auto;
}

img.logo {
    height: 3rem;
    position: relative;
    bottom: -2rem;
}

img.emoji-logo {
  height: 3.5rem;
  position: relative;
  margin-right: 1rem;
}

#refreshStatus {
    color: darkslateblue;
    margin-left: 1rem;
}

.asset-name {
    color: darkcyan;
}

td, th, td.template-id, td.lag, td.price-wax {
  white-space: nowrap;
}

.history-link:hover .day, .history-link:hover .hour, .history-link:hover .second, .history-link:hover .minute {
  /*color: #9b4dca;*/
  /*color: #606c76;*/
  color: #eeeeee;
}

th:nth-of-type(1), th:nth-of-type(2), th:nth-of-type(3), th:nth-of-type(4){
  font-size: 80%;
}

tr td:nth-of-type(1) > a, td:nth-of-type(2) > a, td:nth-of-type(3) > a , td:nth-of-type(4) > a {
    color: #606c76;
  font-size: 80%;
}

.template-id-link:hover, .collection-name-link:hover, .rarity-link:hover {
    color: #eeeeee;
}

table th.rarity, table td.rarity, table th.schema-name, table td.schema-name {
  display: none;
}

table.show-rarity th.rarity,
table.show-rarity td.rarity,
table.show-schema-name th.schema-name,
table.show-schema-name td.schema-name {
  display: table-cell;
}

/*.rarity-link {*/
/*    display: inline-block;*/
/*    text-overflow: ellipsis;*/
/*	white-space: nowrap;*/
/*	overflow: hidden;*/
/*    max-width: 10rem;*/
/*}*/

tr.updating td {
    opacity: 100%;
}

.buttons-right > button {
  float: right;
  margin-left: 1rem;
}

.hidden, .fas.hidden {
  display: none;
}

.lag-value {
    color: white;
}

.price-gap-value.higher {
    color: green;
}

.price-gap-value.lower {
    color: red;
}

.price-gap-value.lower, .price-gap-value.higher {
    cursor: help
}

.price-wax-value {
    color: orange;
}

.price-usd-value {
    color: white;
}

td[title] {
    cursor: help;
}

td .fas.fa-fire {
    color: orange;
}

a.history-link, a.history-link .second {
  color: rgb(164, 157, 145);
}

a.history-link .minute {
    color: rgb(50,50,50)
}

a.history-link .hour {
    color: rgb(100,100,100)
}

a.history-link .day {
    color: rgb(150,150,150)
}

tr td.asset-name i.hot, tr td.asset-name i.dead, tr td.asset-name i.down, tr td.asset-name i.up {
    display: none;
}

tr.sold i.sold {
  color: darkgreen;
}

tr i.sale-imminent, tr i.sold {
  display: none;
}

tr.sale-imminent i.sale-imminent, tr.sold i.sold {
  display: inline-block;
}


tr i.sale-imminent {
  color: orange;
}

tr.sale-imminent[data-from-floor="1"] i.sale-imminent {
  animation: pulse 2s linear infinite;
}

tr td.asset-name i.down {
    color: red;
}

tr td.asset-name i.up {
    color: green;
}

tr.dead td a, tr.dead td span {
    opacity: 50%;
}

tr.dead td.lag span {
    opacity: 100%;
}

tr td.asset-name i.dead {
    color: gray;
}

tr.fire td.asset-name i.hot, tr.dead td.asset-name i.dead, tr.up td.asset-name i.up, tr.down td.asset-name i.down {
    display: inline-block;
}

.text-right {
    text-align: right;
}

.fade-in {
  animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

tr .fa-rotate {
  visibility: hidden;
}

tr.updating .fa-rotate {
  visibility: visible;
  animation: rotate 3s ease infinite;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

tr td.asset-name i.hot {
  color: #ffa500;
}

#exchangeTable:not(.updating) tr.fire td.asset-name i.hot {
  animation: burn 5s ease-in-out infinite;
}

@keyframes burn {
  0% {
    color: #ffa500;
  }

  50% {
    color: #ff4d00;
  }

  100% {
    color: #ffa500;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


#exchangeTable tr:hover, #exchangeTable tr:hover:nth-of-type(odd)  {
    background-color: #121212;
}

#exchangeTable tr i.delete-row {
    visibility: hidden;
}

#exchangeTable tr:hover i.delete-row {
    visibility: visible;
}

#exchangeTable tr i.delete-row:hover {
    cursor: pointer;
    color: white;
}

#exchangeTable td:first-child {
  padding-right: 0;
}

select {
  color: #606c76;
  border-color: #606c76;
}

select option {
  background-color: black;
}

.status-row {
    margin-bottom: 0.5rem;
    margin-top: -1.5rem;
}

.maximize .header, .maximize .footer {
  display: none;
}



#expandButton {
  cursor: pointer;
}

#expandButton:hover {
  color: white;
}

div.row.status-row .column {
  margin: 1.25rem 1rem 2rem 1.5rem;
      font-variant: proportional-nums;
  /*font-family: -webkit-pictograph;*/

}

body {
  font-family: 'Segoe UI Symbol', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
}

