body {
    /* background-color: rgb(15, 29, 10); */
    background-color: black;
}

.row.header H1 {
    color: white;
    margin-top: 1rem;
    margin-bottom: auto;
}

#refreshStatus {
    color: hotpink;
    margin-left: 1rem;
}

.cardName {
    color: darkcyan;
}

.templateId {
    color: #606c76;
}

.buttons-right > button {
  float: right;
  margin-left: 1rem;
}

.hidden {
  display: none;
}

.price .higher {
    color: green;
}

.price .lower {
    color: red;
}

.price .lower, .price .higher {
    cursor: help
}