body {
    /* background-color: rgb(15, 29, 10); */
    background-color: black;
}

td, th {
    border-bottom-color: #222;
    padding: .5rem 1.5rem;
}

.row.header H1 {
    color: white;
    margin-top: 1rem;
    margin-bottom: auto;
}

#refreshStatus {
    color: hotpink;
    margin-left: 1rem;
}

.asset-name {
    color: darkcyan;
}

.template-id-link, .collection-name-link {
    color: #606c76;
}

.buttons-right > button {
  float: right;
  margin-left: 1rem;
}

.hidden, .fas.hidden {
  display: none;
}

.lag-value {
    color: white;
}

.price-diff.higher {
    color: green;
}

.price-diff.lower {
    color: red;
}

.price-diff.lower, .price-diff.higher {
    cursor: help
}

.price-wax-value {
    color: orange;
}

.price-usd-value {
    color: white;
}

td[title] {
    cursor: help;
}

td .fas.fa-fire {
    color: orange;
}

.minute {
    color: rgb(50,50,50)
}

.hour {
    color: rgb(100,100,100)
}

.day {
    color: rgb(150,150,150)
}

tr td.asset-name i.hot, tr td.asset-name i.dead, tr td.asset-name i.down, tr td.asset-name i.up {
    display: none;
}

tr td.asset-name i.hot {
    color: orange;
}

tr td.asset-name i.down {
    color: red;
}

tr td.asset-name i.up {
    color: green;
}

tr td.asset-name i.dead {
    color: gray;
}

tr.hot td.asset-name i.hot, tr.dead td.asset-name i.dead, tr.up td.asset-name i.up, tr.down td.asset-name i.down {
    display: inline-block;
}