.sortable th {
  cursor: pointer;
}

.sortable th:hover {
  color: whitesmoke;
}

.sortable th:hover::after {
  color: inherit;
  font-size: 1.2em;
  content: ' \025B8';
}

.sortable th::after {
  font-size: 1.2em;
  color: transparent;
  content: ' \025B8';
}

.sortable th.dir-d {
  color: whitesmoke;
}

.sortable th.dir-d::after {
  color: inherit;
  content: ' \025BE';
}

.sortable th.dir-u {
  color: whitesmoke;
}

.sortable th.dir-u::after {
  color: inherit;
  content: ' \025B4';
}

th.no-sort {
  pointer-events: none;
}
