[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true
ij_visual_guides = 80,100

[{*.cjs,*.js,*.ts,*.tsx}]
indent_size = 2
max_line_length = 100
ij_javascript_keep_blank_lines_in_code = 1
ij_javascript_spaces_within_object_literal_braces = true
ij_javascript_spaces_within_imports = true
ij_javascript_use_double_quotes = false

[*.css]
indent_size = 2

[*.html]
indent_size = 2
